<%- include('../layout/header') -%>

<p class="hello">
  Chào <%= fullName %>,
</p>

<p>Bạn vừa yêu cầu đặt lại mật khẩu. Nếu bạn thực sự đã làm điều này, hãy Click vào nút bên dưới.</p>

<p>
  <a href="<%= getWebCustomerUrl(actionUrl) %>" class="btn">
    <span class="gmail-blend-screen">
      <span class="gmail-blend-difference">
        Đặt lại mật khẩu
      </span>
    </span>
  </a>
</p>

<p>Nếu bạn không có ý định đặt lại mật khẩu của mình, bạn có thể bỏ qua email này, mật khẩu của bạn sẽ không thay đổi.</p>

<%- include('../layout/footer', { support: true }) -%>
