<!doctype html>
<html lang="vi">

<head>
  <%- include(layouts + '/head'); %>

  <link rel="stylesheet" href="/css/auth/index.css">
</head>

<body id="login-page">
  <%- include(layouts + '/header'); %>

  <main>
    <div class="container">
      <div class="clearfix-32"></div>

      <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
          <form action="/auth/forgot-password" method="post" id="form-forgot-password" class="form-auth">
            <h1 class="page-heading">Quên mật khẩu</h1>

            <div class="form-group mb-3 form-floating">
              <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
              <label for="email" class="form-label">Email của bạn</label>
            </div>

            <div class="d-grid">
              <button type="submit" class="btn btn-primary btn-full" id="btn-submit" data-loading-text="Đang xử lí ...">Gửi tôi liên kết đặt lại mật khẩu</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>

  <%- include(layouts + '/foot'); %>

  <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>

  <script type="text/javascript">
    $(document).ready(function () {
      $("#form-forgot-password").validate({
        rules: {
          email: {
            required: true,
            email: true,
          }
        },
        messages: {
          email: {
            required: "Vui lòng nhập Email",
            email: "Email không đúng định dạng",
          }
        },

        errorElement : 'div',
        errorClass: 'is-invalid',

        submitHandler: function (form) {
          $('#btn-submit').bootstrapBtn('loading');

          $.ajax({
            url: '/auth/forgot-password',
            type: 'POST',
            data: {
              email: $('#email').val(),
            },
            success: function (data) {
              console.log('forgotPassword -> Success', data);
              $('#btn-submit').bootstrapBtn('reset');

              alertify.alert(
                'Khôi phục mật khẩu',
                'Nếu tài khoản tồn tại, bạn sẽ nhận được 1 Email kèm liên kết đặt lại mật khẩu.',
                function () {
                  window.location = '/';
                }
              );
            },
            error: function (error) {
              console.log('forgotPassword -> Error', error);
              $('#btn-submit').bootstrapBtn('reset');
              toastr.warning(error.responseJSON.message);
            }
          });
        }
      });
    });
  </script>
</body>

</html>
