<!doctype html>
<html lang="vi">

<head>
  <%- include(layouts + '/head'); %>

  <link rel="stylesheet" href="/css/auth/index.css">
</head>

<body id="register-page">
  <%- include(layouts + '/header'); %>

  <main>
    <div class="container">
      <div class="clearfix-32"></div>

      <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
          <form action="/auth/reset-password" method="post" id="form-reset-password" class="form-auth">
            <h1 class="page-heading">Đặt lại mật khẩu</h1>

            <input type="hidden" id="token" name="token" value="<%= token %>">

            <div class="form-group form-floating mb-3">
              <input
                type="password"
                name="newPassword"
                class="form-control"
                id="newPassword"
                name="newPassword"
                placeholder="Mật khẩu mới"
                required
              >
              <label for="newPassword">Mật khẩu mới</label>
            </div>

            <div class="form-group form-floating mb-3">
              <input
                type="password"
                name="newPasswordConfirmation"
                class="form-control"
                id="newPasswordConfirmation"
                name="newPasswordConfirmation"
                placeholder="Nhập lại mật khẩu mới"
                required
              >
              <label for="newPasswordConfirmation">Nhập lại mật khẩu mới</label>
            </div>

            <div class="d-grid">
              <button type="submit" class="btn btn-primary btn-full" id="btn-submit" data-loading-text="Đang xử lí">Đặt lại mật khẩu</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>

  <%- include(layouts + '/foot'); %>

  <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>

  <script type="text/javascript">
    $(document).ready(function () {
      $("#form-reset-password").validate({
        rules: {
          newPassword: {
            required: true,
            minlength: 6
          },
          newPasswordConfirmation: {
            equalTo: "#newPassword"
          }
        },
        messages: {
          newPassword: {
            required: "Bạn chưa nhập mật khẩu",
            minlength: "Mật khẩu phải 6 kí tự trở lên",
          },
          newPasswordConfirmation: {
            required: "Bạn chưa nhập lại mật khẩu",
            equalTo: "Mật khẩu không khớp"
          }
        },

        errorElement : 'div',
        errorClass: 'is-invalid',
        validClass: 'is-valid',

        submitHandler: function (form) {
          $('#btn-submit').bootstrapBtn('loading');

          $.ajax({
            url: '/auth/reset-password',
            type: 'POST',
            data: {
              token: $('#token').val(),
              newPassword: $('#newPassword').val(),
            },
            success: function (data) {
              console.log('resetPassword -> Success', data);
              $('#btn-submit').bootstrapBtn('reset');

              alertify.alert(
                'Đặt lại mật khẩu thành công',
                'Hệ thống sẽ tự động chuyển sang trang đăng nhập sau khi bạn chọn OK.',
                function () {
                  window.location = '/auth/login';
                }
              );
            },
            error: function (error) {
              console.log('resetPassword -> Error', error);
              $('#btn-submit').bootstrapBtn('reset');
              toastr.warning(error.responseJSON.message);
            }
          });
        }
      });
    });
  </script>
</body>

</html>
