<footer class="footer">
  <div>
    <div class="clearfix-56"></div>

    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-8">
          <img src="/images/logo-with-text.svg" height="56" class="logo" />

          <div class="clearfix-16"></div>

          <div class="contact-info">
            <div class="item address">
              <i class="fa fa-home" style="font-size: 18px"></i>
              <span> KTX Khu A - ĐHQG HCM, Đông Hòa, Dĩ An, Bình Dương </span>
            </div>

            <div class="item phoneNumber">
              <i class="fa fa-phone" style="font-size: 18px"></i>
              <a href="tel:094594870"> 0945 094 870 </a>
            </div>

            <div class="item website">
              <i class="fa fa-link" style="font-size: 18px"></i>
              <a href="https://www.linkedin.com/in/phuchoang2411/"">
                https://www.linkedin.com/in/phuchoang2411/
              </a>
            </div>

            <div class="item email">
              <i class="fa fa-envelope" style="font-size: 18px"></i>
              <a href="phuchoang2411@gmail.com">
                phuchoang2411@gmail.com
              </a>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4"></div>
      </div>
    </div>

    <div class="clearfix-56"></div>
  </div>

  <div class="copyright">
    <div class="container">
      <div class="clearfix-32"></div>

      <div class="row">
        <div class="col-12 col-md-6">
          <span class="copyright-left">
            © 2024 Công Ty TNHH MTV Bia thủ công Kummo Chan
          </span>
        </div>

        <div class="col-12 col-md-6">
          <div class="copyright-right">
            <span class="designed-by">
              Designed by
              <a
                href="https://www.instagram.com/h.phuc_nvbt/?hl=vi"
                rel="noopener noreferrer"
                target="_blank"
                >Hoàng Phúc</a
              >
            </span>
          </div>
        </div>
      </div>

      <div class="clearfix-32"></div>
    </div>
  </div>
</footer>
