<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="icon" href="/images/site-icon.png" type="image/png">
<link rel="canonical" href="https://daminest.penphy.com/">

<title>Kummo Chan - Bia Thủ Công</title>

<meta name="description" content="Nâng Tầm Sức Khoẻ - Bia Thủ Công">
<meta name="keywords" content="18120113, 18120138, daminest, yen sao">
<meta name="author" content="18120113_18120138">

<!-- Open Graph -->
<meta property="og:url" content="https://daminest.penphy.com/">
<meta property="og:type" content="website">
<meta property="og:title" content="Kummo Chan - Bia Thủ Công">
<meta property="og:description" content="Nâng Tầm Sức Khoẻ - Bia Thủ Công">
<meta property="og:image" content="https://daminest.penphy.com/images/web-cover-image.jpg">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
<meta property="fb:app_id" content="1527529787437950">

<!-- Twitter Card -->
<meta name="twitter:card" value="summary">
<meta name="twitter:title" content="Kummo Chan - Bia Thủ Công">
<meta name="twitter:description" content="Nâng Tầm Sức Khoẻ - Bia Thủ Công">
<meta name="twitter:creator" content="@iamncdai">
<meta name="twitter:image"
  content="https://daminest.penphy.com/images/web-cover-image-square.jpg">

<link rel="stylesheet" href="/css/bootstrap/custom.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

<link rel="stylesheet" href="/fonts/FontAwesomePro/css/fontawesome.min.css">
<link rel="stylesheet" href="/fonts/FontAwesomePro/css/solid.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Literata:wght@400;700&display=swap">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Yeseva+One&display=swap">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css">
<link rel="stylesheet" href="/fonts/font.css">
<link rel="stylesheet" href="/css/global.css">