$primary: #841206;
$secondary: #d4aa5f;
$success: #2ecc71;
$border: #eee;
$textGray: #9b9b9b;
$textSuccess: #2ecc71;

$fontNormal: 400;
$fontMedium: 500;
$fontBold: 700;
$fontExtraBold: 800;

$fontFamilyBody: "SF Pro Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell,
  "Helvetica Neue", sans-serif;
$fontFamilySecondary: "Yeseva One", cursive;
$fontFamilyReading: "Literata", serif;

$shadow: rgb(0 0 0 / 8%) 1px 3px 8px;
$borderRadius: 0.5rem;
