<!doctype html>
<html lang="vi">

<head>
  <%- include(layouts + '/head'); %>

  <link rel="stylesheet" href="/css/handbook/view.css">
</head>

<body id="handbook-view-page">
  <%- include(layouts + '/header'); %>

  <main>
    <div class="container">
      <h1>Cách ăn yến sào tốt cho sức khỏe</h1>
    </div>

    <div class="content">
      <img class="featured-image" src="/images/handbook/featured-image.jpg" />

      <div class="container">
        <div class="friendly-for-reading">
          <p>Sau đây là những điều bạn nên lưu ý để biết cách ăn yến sào tốt cho sức khỏe.</p>
          <h3>Ăn yến khi nào tốt nhất?</h3>
          <p>Các chuyên gia dinh dưỡng khuyên rằng thời điểm tốt nhất để ăn yến sào là khi bụng đang rỗng. Bạn có thể ăn yến sào
            vào buổi sáng mới thức dậy hoặc buổi tối trước khi đi ngủ.
          </p>
          <blockquote>
            <p><strong>Khoảng 1 tiếng trước khi ngủ, nồng độ của các loại hormone tăng lên giúp tăng khả năng hấp thu các dưỡng
              chất vào cơ thể. Đây là thời điểm chất dinh dưỡng phát huy công dụng tốt nhất cho cơ thể.</strong>
            </p>
          </blockquote>
          <p>Ngoài ra, bạn cũng có thể ăn yến sào vào giữa hai bữa ăn chính khi bụng còn rỗng. Đây là thời điểm thức ăn trước đó
            đã được tiêu hóa nên bạn có thể bổ sung thêm dinh dưỡng. Yến sào sẽ giúp các cơ quan tiêu hóa khởi động nhẹ nhàng và
            hấp thu dưỡng chất vào cơ thể.
          </p>
          <h3>Ăn yến sào bao nhiêu là đủ?</h3>
          <figure class="image" contenteditable="false">
            <img src="/images/handbook/view/1.png" />
          </figure>
          <p>Cơ thể con người có giới hạn về khả năng hấp thụ dưỡng chất ở một thời điểm nhất định. Dinh dưỡng dư thừa do không
            hấp thu được sẽ thải ra ngoài theo đường tiêu hóa. Vì thế, bạn không nên ăn yến sào quá nhiều kể cả khi đang mệt mỏi
            hoặc ốm đau. Bạn cũng cần biết cách ăn yến sào theo từng độ tuổi nhất định để cân nhắc liều lượng hợp lý.
          </p>
          <p>Các chuyên gia khuyến cáo về liều lượng yến sào theo độ tuổi như sau:</p>
          <ul>
            <li><strong>Trẻ em 1 – 12 tuổi:</strong> 3g yến sào khô/lần</li>
            <li><strong>Trẻ vị thành niên và người lớn:</strong> 5g – 10g yến sào khô/lần</li>
          </ul>
          <p>Đối với trẻ nhỏ, bạn nên cẩn thận khi cho bé ăn yến sào vì đây là một trong <a
            href="https://hellobacsi.com/nuoi-day-con/dinh-duong-cho-tre/can-than-voi-thuc-pham-khong-an-toan-cho-tre/">những
            thực phẩm tưởng lợi hóa hại cho trẻ</a>. Bạn không nên cho trẻ ăn yến sào quá sớm, nhất là trẻ sơ sinh hay trẻ mới
            bắt đầu tập ăn giặm nhé.
          </p>
          <blockquote>
            <p>Bạn cần chế biến yến sào khô đúng cách và không nên kết hợp với nhiều nguyên liệu khác. Hãy luôn nhớ rằng cơ thể
              không hấp thụ được dưỡng chất khi ăn yến sào sẽ bị đào thải. Vì vậy, bạn không nên ăn quá nhiều sẽ rất phí phạm.
            </p>
          </blockquote>
          <h3>Ăn yến sào bao lâu thì có tác dụng?</h3>
          <figure class="image">
            <img src="/images/handbook/view/2.png" />
          </figure>
          <p>Như đã đề cập ở trên, cơ thể chúng ta có giới hạn khi hấp thụ dưỡng chất ở một thời điểm nhất định. Dinh dưỡng không
            được hấp thụ sẽ bị đào thải ra ngoài.
          </p>
          <p>Vì thế, bạn chỉ cần ăn yến sào một lượng nhỏ đều đặn sẽ mang đến nhiều lợi ích hơn là ăn một lượng nhiều dồn vào một
            lần. Bạn có thể cân đối liều lượng yến sào theo từng đối tượng cụ thể sau đây:
          </p>
          <ul>
            <li><strong>Trẻ em :</strong> Bé 1 – 3 tuổi chỉ nên dùng 50g/tháng và dùng đều cách ngày. Bé 3 – 10 tuổi có thể ăn yến
              sào 100g/tháng, dùng đều đặn cách ngày 1 lần khoảng 6-7g/lần.
            </li>
            <li><strong>Phụ nữ mang thai:</strong> Phụ nữ mang thai trong 3 tháng đầu không nên ăn yến sào. Phụ nữ mang thai tháng
              4 – 7 có thể ăn trung bình 100g/tháng, dùng đều đặn cách ngày khoảng 7g/lần. Phụ nữ mang thai tháng 8 – 9 nên giảm
              liều lượng 70g/tháng, dùng cách ngày khoảng 5g/lần.
            </li>
            <li>
              <strong>Người lớn tuổi:</strong>&nbsp;Yến sào đặc biệt tốt cho người lớn tuổi, đặc biệt là người già cần hồi phục
              sức khỏe sau khi đau ốm, phẫu thuật.
              <ul>
                <li><i>Tháng đầu tiên</i>: ăn yến sào mỗi ngày 5g/lần, nên dùng khoảng 150g/tháng.</li>
                <li><i>Tháng thứ hai trở đi</i>: ăn cách ngày 1 lần đều đặn khoảng 6-7g/lần, nên dùng khoảng 100g/tháng.</li>
              </ul>
            </li>
            <li><strong>Người đau ốm: </strong>Người bệnh đang trong giai đoạn điều trị có thể dùng đều đặn mỗi ngày 1 chén yến
              chưng đường phèn với liều lượng 5g/lần, trung bình dùng khoảng 150g/tháng. Tuy nhiên, yến sào chỉ là thực phẩm bồi
              bổ sức khỏe chứ hoàn toàn không có chức năng chữa bệnh như “thuốc tiên” như lời đồn thổi.
            </li>
            <li><strong>Người bình thường:</strong>&nbsp;Nếu bạn muốn tăng cường sức khỏe thì nên ăn yến sào lâu dài và đều đặn 2
              lần/tuần với liều lượng khoảng 5g/lần là đủ.
            </li>
          </ul>
          <blockquote>
            <p>Để ăn yến sào đúng cách, bạn cần tìm hiểu kỹ về liều lượng và cách chế biến. Cách ăn yến sào đơn giản nhất là chưng
              cách thủy. Đây là cách chế biến tốt nhất đảm bảo nhiệt độ của yến sào không vượt quá 100°C, nhờ đó dưỡng chất sẽ
              được giữ lại.
            </p>
          </blockquote>
          <p>Nếu chế biến yến sào theo cách khác, bạn sẽ khó mà điều chỉnh nhiệt độ. Nhiệt độ cao có thể phá hủy các dưỡng chất tự
            nhiên có trong yến sào. Trong trường hợp bạn muốn sử dụng yến sào như một nguyên liệu của món ăn, bạn vẫn nên chưng
            cách thủy trước khi cho vào món ăn đã hoàn thành.
          </p>
          <p>Bạn có thể ăn yến sào trong giai đoạn cơ thể mỏi mệt hoặc mua làm quà biếu ba mẹ để bồi bổ sức khỏe đều đặn trong
            suốt một thời gian dài. Nếu biết cách ăn yến sào, bạn sẽ cảm thấy cơ thể tăng sức bền bỉ và dẻo dai hơn. Bạn đừng đợi
            đến khi ốm nặng mới dám mua yến sào về dùng, yến sào không phải như thuốc tiên mà hết bệnh liền!
          </p>
        </div>
      </div>
    </div>
  </main>

  <div class="clearfix-56"></div>

  <%- include(layouts + '/footer'); %>
  <%- include(layouts + '/foot'); %>

  <script type="text/javascript">
    $(document).ready(function () {
      $('#navPrimary [itemid="handbook"]').addClass('active');
    });
  </script>
</body>

</html>
