<p class="support">
  Quý khách cần được hỗ trợ ngay?
  Chỉ cần gửi Email đến <a href="#"><strong><a href="mailto:<%= SUPPORT_EMAIL %>"><%= SUPPORT_EMAIL %></a></strong></a>,
  hoặc gọi số điện thoại <strong><a href="tel:<%= SUPPORT_PHONE_NUMBER %>"><%= SUPPORT_PHONE_NUMBER %></a> (08h30 - 17h30)</strong>.
  Chúng tôi luôn sẵn sàng hỗ trợ quý khách bất kì lúc nào.
</p>