<div class="dropdown right-item">
  <a href="/profile" class="circle auth" id="dropdownUser" data-bs-toggle="dropdown" aria-expanded="false">
    <i class="fas fa-user-alt"></i>
  </a>
  <ul class="dropdown-menu" aria-labelledby="dropdownUser">
    <li><a class="dropdown-item" href="/profile">Quản lý tài khoản</a></li>
    <li><a class="dropdown-item" href="/auth/logout" id="dropdown-item-logout">Đăng xuất</a></li>
  </ul>
</div>
