<section class="home-hero-unit">
  <div class="container">
    <div class="content">
      <h1>
        <span>Kummo</span>
        <span>Chan</span>
      </h1>
      <p>
        <span>Bia Thủ Công</span>
        <span>Chất Lượng Cao</span>
      </p>
    </div>
  </div>
</section>