<section class="home-intro-1">
  <div class="row gx-0">
    <div class="col-12 col-lg-6 col-left">
      <div class="content">
        <h2>Những Chén Yến Giúp Gia Đình Bạn Khỏe Mạnh Hơn</h2>
        <p>Đây là những tổ yến chứa 18 loại acid amin mà cơ thể không tự tổng hợp được, cùng rất nhiều cacbonhydrat, muối khoáng, khoáng chất vi lượng…. giúp cơ thể khỏe mạnh, trẻ hóa tế bào, da trắng mịn, hồng hào và cải thiện trí nhớ.</p>
        <a href="#products" class="btn-daminest secondary large">Xem sản phẩm</a>
      </div>
    </div>

    <div class="col-12 col-lg-6">
      <div class="featured-image"></div>
    </div>
  </div>
</section>
