<section class="home-products" id="products">
  <div class="container">
    <h2 class="heading">Bia Thủ Công</h2>

    <div class="row gx-3 gy-3">
      <% products.slice(0, 6).forEach(function(product) { %>
        <div class="col-12 col-md-4">
          <%- include(views + '/products/components/product-item', { product }); %>
        </div>
      <% }); %>
    </div>

    <div class="view-more mt-3">
      <a href="/products" class="btn-daminest secondary large block">Xem tất cả sản phẩm</a>
    </div>
  </div>
</section>
