<!doctype html>
<html lang="vi">

<head>
  <%- include(layouts + '/head'); %>

  <link rel="stylesheet" href="/css/auth/index.css">
</head>

<body id="change-password-page">
  <%- include(layouts + '/header'); %>

  <main>
    <div class="clearfix-32"></div>

    <div class="container">
      <div class="row gx-8">
        <div class="col-12 col-md-3">
          <%- include(views + '/profile/components/sidebar'); %>
        </div>

        <div class="col-12 col-md-9">
          <h1 class="page-heading">Đổi mật khẩu</h1>

          <form id="formChangePassword">
            <div class="form-group form-floating mb-3">
              <input
                type="password"
                name="currentPassword"
                class="form-control"
                id="currentPassword"
                name="currentPassword"
                placeholder="Mật khẩu hiện tại"
                required
              >
              <label for="currentPassword">Mật khẩu hiện tại</label>
            </div>

            <div class="form-group form-floating mb-3">
              <input
                type="password"
                name="newPassword"
                class="form-control"
                id="newPassword"
                name="newPassword"
                placeholder="Mật khẩu mới"
                required
              >
              <label for="newPassword">Mật khẩu mới</label>
            </div>

            <div class="form-group form-floating mb-3">
              <input
                type="password"
                name="newPasswordConfirmation"
                class="form-control"
                id="newPasswordConfirmation"
                name="newPasswordConfirmation"
                placeholder="Nhập lại mật khẩu mới"
                required
              >
              <label for="newPasswordConfirmation">Nhập lại mật khẩu mới</label>
            </div>

            <div class="d-grid">
              <button type="submit" class="btn btn-primary btn-full" id="btn-submit" data-loading-text="Đang xử lí">Đổi mật khẩu</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="clearfix-32"></div>
  </main>

  <%- include(layouts + '/foot'); %>

  <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>

  <script type="text/javascript">
    $(document).ready(function () {
      $('#sidebar-profile [itemid="changePassword"]').addClass('active');

      $("#formChangePassword").validate({
        rules: {
          currentPassword: {
            required: true,
            minlength: 6
          },
          newPassword: {
            required: true,
            minlength: 6
          },
          newPasswordConfirmation: {
            equalTo: "#newPassword"
          }
        },
        messages: {
          currentPassword: {
            required: "Bạn chưa nhập mật khẩu hiện tại",
            minlength: "Mật khẩu phải 6 kí tự trở lên",
          },
          newPassword: {
            required: "Bạn chưa nhập mật khẩu",
            minlength: "Mật khẩu phải 6 kí tự trở lên",
          },
          newPasswordConfirmation: {
            required: "Bạn chưa nhập lại mật khẩu",
            equalTo: "Mật khẩu không khớp"
          }
        },

        errorElement : 'div',
        errorClass: 'is-invalid',

        submitHandler: function (form) {
          $('#btn-submit').bootstrapBtn('loading');

          $.ajax({
            url: '/profile/change-password',
            type: 'PATCH',
            data: {
              currentPassword: $('#currentPassword').val(),
              newPassword: $('#newPassword').val(),
            },
            success: function (data) {
              console.log('changePassword -> Success', data);
              toastr.success("Đổi mật khẩu thành công");
              $('#btn-submit').bootstrapBtn('reset');
              form.reset()
            },
            error: function (error) {
              console.log('changePassword -> Error', error);
              toastr.error(error.responseJSON.message);
              form.reset()
              $('#currentPassword').focus()
              $('#btn-submit').bootstrapBtn('reset');
            }
          });
        }
      });
    });
  </script>
</body>

</html>
