<div class="post-item">
  <a href="/handbook/view">
    <div class="featured-image">
      <div class="img" style="background-image: url('/images/handbook/featured-image.jpg');"></div>
    </div>
  </a>

  <h1 class="name">
    <a href="/handbook/view">Cách ăn yến sào tốt cho sức khỏe</a>
  </h1>

  <p class="description">
    Những tác dụng của yến sào có thể khiến bạn cảm thấy món ăn đắt đỏ này cũng đáng giá vì “sức khỏe là vàng”. Tuy nhiên, nếu không hiểu rõ ăn yến sào có tác dụng gì hoặc không biết ăn yến sào đúng cách thì bạn sẽ có nguy cơ bị dị ứng, phản tác dụng và phí tiền vô ích.
  </p>
</div>
