<div class="list-group" id="sidebar-profile">
  <a
    href="/profile"
    class="list-group-item list-group-item-action"
    itemid="updateProfile"
  >
    Cập nhật thông tin
  </a>

  <a
    href="/profile/purchases"
    class="list-group-item list-group-item-action"
    itemid="purchases"
  >
    Đơn mua
  </a>

  <a
    href="/profile/change-password"
    class="list-group-item list-group-item-action"
    itemid="changePassword"
  >
    Đổi mật khẩu
  </a>

  <a
    href="/auth/logout"
    class="list-group-item list-group-item-action"
    itemid="logout"
  >
    Đăng xuất
  </a>
</div>