<section class="home-intro-2">
  <div class="row gx-0">
    <div class="col-12 col-lg-6">
      <div class="featured-image"></div>
    </div>

    <div class="col-12 col-lg-6 col-right">
      <div class="content">
        <h2>Quy Trình Xử Lí Sạch & Vệ Sinh</h2>
        <p>Tổ yến thô được rã tổ và làm sạch phân – lông chim. Giai đoạn này được thực hiện thủ công. Đầu tiên, ngâm tổ yến thô vào nước sạch, tùy vào mức độ nở của tổ yến thô mà ngâm lâu hay nhanh. Sau đó tiến hành làm ráo nước và cho vào 1 đĩa (màu trắng). Tiếp theo, tiến hành nhặt lần đầu những lông lớn và những tạp chất (đất, vôi,…) và một số lông kim (lông nhỏ khó nhặt).</p>
        <a href="#products" class="btn-daminest primary large">Xem sản phẩm</a>
      </div>
    </div>
  </div>
</section>
